<div class="dropdown">
  <div type="button" class="dropdown-toggle" id="dropdownMene1" data-toggle="dropdown">
    <span>Check</span>
    <span class="caret"></span>
  </div>
  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
    <% if can? :update, Tool %>
    <li role="presentation" data-toggle="modal" data-target="#upload_modal_<%= tool.id %>">
      <%= link_to t('.upload', :default => t("helpers.links.upload")),
        '#', :class => 'btn-default btn-xs' %>
    </li>
    <% end %>

    <% if can? :download, Tool %>
    <li role="presentation">
      <%= link_to t('.download', :default => t("helpers.links.download")),
        download_tool_path(tool), :class => 'btn-default btn-xs' %>
    </li>
    <li role="presentation" class="divider"></li>
    <% end %>

    <% if can? :read, Tool %>
    <li role="presentation">
      <%= link_to t('.show', :default => t("helpers.links.show")),
        tool_path(tool), :class => 'btn-default btn-xs' %>
    </li>
    <% end %>

    <% if can? :update, Tool %>
    <li role="presentation">
      <%= link_to t('.edit', :default => t("helpers.links.edit")),
        edit_tool_path(tool), :class => 'btn-default btn-xs' %>
    </li>
    <% end %>

    <% if can? :destroy, Tool %>
    <li role="presentation">
      <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
        tool_path(tool),
        :method => :delete,
        :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
        :class => 'btn-xs btn-default' %>
    </li>
    <% end %>
  </ul>
</div>
