<%= form_for @tool, :html => { :class => "form-horizontal tool" } do |f| %>

  <% if @tool.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@tool.errors.count, "error") %> prohibited this tool from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @tool.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :name, :class => 'form-control' %>
    </div>
    <%= error_span(@tool[:name]) %>
  </div>
  <div class="control-group">
    <%= f.label :version, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :version, :class => 'form-control' %>
    </div>
    <%= error_span(@tool[:version]) %>
  </div>
  <div class="control-group">
    <%= f.label :description, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :description, :class => 'form-control' %>
    </div>
    <%= error_span(@tool[:description]) %>
  </div>
  <div class="control-group">
    <div class="controls">
      <%= f.hidden_field :status, :value => '1', :class => 'form-control' %>
    </div>
    <%= error_span(@tool[:status]) %>
  </div>

  <%= render partial: "shared/modal_top", object: @tool, as: :table %>
  <div class="control-group">
    <%= f.label :attach_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.file_field :upload_file %>
    </div>
    <%= error_span(@tool[:attach_id]) %>
  </div>
  <%= render "shared/modal_footer" %>

  <br>

  <div class="control-group">
    <div class="controls">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <span class="btn btn-success" data-toggle="modal" data-target="#upload_modal_<%= @tool[:id] %>">Select</span>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            tools_path, :class => 'btn btn-default' %>
    </div>
  </div>


<% end %>
