<% if tool.attach_id %>
  <%= tool.attach.file_name %>
<% else %>
  <% if can? :update, Tool %>
  <span class="btn btn-success btn-xs" data-toggle="modal" data-target="#upload_modal_<%= tool.id %>">Upload</span>
  <% end %>
<% end %>
