<div class="dropdown">
  <div type="button" class="dropdown-toggle" id="dropdownMene1" data-toggle="dropdown">
    <span>Check</span>
    <span class="caret"></span>
  </div>
  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
    <% if can? :invalid, License %>
    <li role="presentation" data-toggle="modal" data-target="#upload_modal_<%= license.id %>">
      <%= link_to t('.invalid', :default => t("helpers.links.invalid")),
        '#', :class => 'btn-default btn-xs' %>
    </li>
    <li role="presentation" class="divider"></li>
    <% end %>

    <% if can? :read, License %>
    <li role="presentation">
      <%= link_to t('.show', :default => t("helpers.links.show")),
        license_path(license), :class => 'btn-default btn-xs' %>
    </li>
    <% end %>

    <% if can? :update, License %>
    <li role="presentation">
      <%= link_to t('.edit', :default => t("helpers.links.edit")),
        edit_license_path(license), :class => 'btn-default btn-xs' %>
    </li>
    <% end %>

    <% if can? :destroy, License %>
    <li role="presentation">
      <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
        license_path(license),
        :method => :delete,
        :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
        :class => 'btn-xs btn-default' %>
    </li>
    <% end %>
  </ul>
</div>
