<%= form_tag({controller: "licenses", action: "invalid"}, method: "post", class: "license") do %>

  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>

  <div class="control-group">
    <%= label_tag :start_id %>
    <div class="controls">
      <%= text_field_tag :start_id %>
    </div>
  </div>

  <div class="control-group">
    <%= label_tag :end_id %>
    <div class="controls">
      <%= text_field_tag :end_id %>
    </div>
  </div>

  <br>

  <%= submit_tag "Invalid", :class => 'btn btn-primary' %>
  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
<% end %>
