<%= form_tag({controller: "licenses", action: "import"}, multipart: true, method: "post", class: "license") do %>

  <div class="control-group">
    <%= label_tag :import_file %>
    <div class="controls">
      <%= file_field_tag :import_file %>
    </div>
  </div>

  <br>

  <%= submit_tag "Import", :class => 'btn btn-primary' %>
  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
<% end %>
