<%= form_tag({controller: "licenses", action: "generate"}, remote: true, method: "post", class: "license") do %>

  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>

  <div class="control-group">
    <%= label_tag :license_code %>
    <div class="controls">
      <%= text_field_tag :license_code %>
    </div>
  </div>

  <div class="control-group">
    <%= label_tag :point_amount %>
    <div class="controls">
      <%= text_field_tag :point_amount %>
    </div>
  </div>

  <div class="control-group">
    <%= label_tag :generate_count %>
    <div class="controls">
      <%= text_field_tag :generate_count %>
    </div>
  </div>

  <br>

  <%= submit_tag "Generate", :class => 'btn btn-primary' %>
  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
<% end %>
