<div class="modal fade" id="modal_import" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
<div class="modal-dialog">
<div class="modal-content">
<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
  <h4 class="modal-title" id="myModalLabel">Import License</h4>
</div>
<div class="modal-body">

<%= render "form_import" %>

</div>
</div>
</div>
</div>
