<%- model_class = License -%>
<div class="page-header">
  <h2>
    <%=t '.title', :default => model_class.model_name.human %>
    <p class="pull-right">
      <% if can? :invalid, License %>
      <span data-toggle="modal" data-target="#modal_invalid">
      <%= link_to t('.invalid', :default => t("helpers.links.invalid")),
            "#", :class => 'btn btn-warning' %>
      </span>
      <% end %>

      <% if can? :generate, License %>
      <span data-toggle="modal" data-target="#modal_generate">
      <%= link_to t('.generate', :default => t("helpers.links.generate")),
            "#", :class => 'btn btn-success' %>
      </span>
      <% end %>

      <% if can? :import, License %>
      <span data-toggle="modal" data-target="#modal_import">
      <%= link_to t('.import', :default => t("helpers.links.import")),
            "#", :class => 'btn btn-success' %>
      </span>
      <% end %>

      <% if can? :export, License %>
      <span data-toggle="modal" data-target="#modal_export">
      <%= link_to t('.export', :default => t("helpers.links.export")),
            "#", :class => 'btn btn-success' %>
      </span>
      <% end %>

      <% if can? :create, License %>
      <%= link_to t('.new', :default => t("helpers.links.new")),
            new_license_path, :class => 'btn btn-primary' %>
      <% end %>

    </p>
  </h2>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:snid) %></th>
      <th><%= model_class.human_attribute_name(:sn) %></th>
      <th><%= model_class.human_attribute_name(:point) %></th>
      <th><%= model_class.human_attribute_name(:flag) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @licenses.each do |license| %>
      <tr>
        <td><%= link_to license.snid, license_path(license) %></td>
        <td><%= license.sn %></td>
        <td><%= license.point %></td>
        <td><%= License::FLAG_TYPE.invert[license.flag] %></td>
        <td><%= license.created_at.strftime("%Y-%m-%d %H:%M:%S") %></td>
        <td>
          <%= render partial: "action", object: license, as: :license %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= render "modal_invalid" %>
<%= render "modal_generate" %>
<%= render "modal_export" %>
<%= render "modal_import" %>

<%= render partial: "shared/pagination", object: @licenses, as: :paginations %>
