<%- model_class = License -%>
<div class="page-header">
  <h2>
    <%=t '.title', :default => model_class.model_name.human.titleize %>:
    <%= @license.snid %>
    <p class="pull-right">
      <%= link_to t('.back', :default => t("helpers.links.back")),
              licenses_path, :class => 'btn btn-default'  %>

      <% if can? :update, License %>
      <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_license_path(@license), :class => 'btn btn-default' %>
      <% end %>

      <% if can? :destroy, License %>
      <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              license_path(@license),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
      <% end %>
    </p>
  </h2>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:snid) %>:</strong></dt>
  <dd><%= @license.snid %></dd>
  <dt><strong><%= model_class.human_attribute_name(:sn) %>:</strong></dt>
  <dd><%= @license.sn %></dd>
  <dt><strong><%= model_class.human_attribute_name(:point) %>:</strong></dt>
  <dd><%= @license.point %></dd>
  <dt><strong><%= model_class.human_attribute_name(:flag) %>:</strong></dt>
  <dd><%= License::FLAG_TYPE.invert[@license.flag] %></dd>
</dl>

