<%- model_class = LicenseCode -%>
<div class="page-header">
  <h2>
    <%=t '.title', :default => model_class.model_name.human.titleize %>:
    <%= @license_code.code %>
    <p class="pull-right">
      <%= link_to t('.back', :default => t("helpers.links.back")),
              license_codes_path, :class => 'btn btn-default'  %>

      <% if can? :update, LicenseCode %>
      <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_license_code_path(@license_code), :class => 'btn btn-default' %>
      <% end %>

      <% if can? :destroy, LicenseCode %>
      <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              license_code_path(@license_code),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
      <% end %>
    </p>
  </h2>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:code) %>:</strong></dt>
  <dd><%= @license_code.code %></dd>
  <dt><strong><%= model_class.human_attribute_name(:description) %>:</strong></dt>
  <dd><%= @license_code.description %></dd>
  <dt><strong><%= model_class.human_attribute_name(:status) %>:</strong></dt>
  <dd><%= @license_code.status %></dd>
</dl>

