<%= form_for @attach, :html => { :class => "form-horizontal attach" } do |f| %>

  <% if @attach.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@attach.errors.count, "error") %> prohibited this attach from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @attach.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :file_name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :file_name, :class => 'form-control' %>
    </div>
    <%= error_span(@attach[:file_name]) %>
  </div>
  <div class="control-group">
    <%= f.label :file_type, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :file_type, :class => 'form-control' %>
    </div>
    <%= error_span(@attach[:file_type]) %>
  </div>
  <div class="control-group">
    <%= f.label :extension, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :extension, :class => 'form-control' %>
    </div>
    <%= error_span(@attach[:extension]) %>
  </div>
  <div class="control-group">
    <%= f.label :save_name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :save_name, :class => 'form-control' %>
    </div>
    <%= error_span(@attach[:save_name]) %>
  </div>
  <div class="control-group">
    <%= f.label :save_path, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :save_path, :class => 'form-control' %>
    </div>
    <%= error_span(@attach[:save_path]) %>
  </div>
  <div class="control-group">
    <%= f.label :size, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :size, :class => 'form-control' %>
    </div>
    <%= error_span(@attach[:size]) %>
  </div>
  <div class="control-group">
    <%= f.label :file_hash, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :file_hash, :class => 'form-control' %>
    </div>
    <%= error_span(@attach[:file_hash]) %>
  </div>


  <%= f.submit nil, :class => 'btn btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            attaches_path, :class => 'btn btn-default' %>

<% end %>
