<%- model_class = Attach -%>
<div class="page-header">
  <h2>
    <%=t '.title', :default => model_class.model_name.human.titleize %>:
    <%= @attach.original_name %>
    <p class="pull-right">
      <%= link_to t('.back', :default => t("helpers.links.back")),
              attaches_path, :class => 'btn btn-default'  %>
      <% if can? :destroy, @attach %>
      <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              attach_path(@attach),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
      <% end %>
    </p>
  </h2>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:file_name) %>:</strong></dt>
  <dd><%= @attach.file_name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:file_type) %>:</strong></dt>
  <dd><%= @attach.file_type %></dd>
  <dt><strong><%= model_class.human_attribute_name(:original_name) %>:</strong></dt>
  <dd><%= @attach.original_name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:extension) %>:</strong></dt>
  <dd><%= @attach.extension %></dd>
  <dt><strong><%= model_class.human_attribute_name(:file_url) %>:</strong></dt>
  <dd><%= @attach.file_url %></dd>
  <dt><strong><%= model_class.human_attribute_name(:save_name) %>:</strong></dt>
  <dd><%= @attach.save_name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:save_path) %>:</strong></dt>
  <dd><%= @attach.save_path %></dd>
  <dt><strong><%= model_class.human_attribute_name(:size) %>:</strong></dt>
  <dd><%= @attach.size / 1024 + 1 %> KB</dd>
  <dt><strong><%= model_class.human_attribute_name(:file_hash) %>:</strong></dt>
  <dd><%= @attach.file_hash %></dd>
  <dt><strong><%= model_class.human_attribute_name(:download_count) %>:</strong></dt>
  <dd><%= @attach.download_count %></dd>
</dl>

