<%- model_class = Scheme -%>
<div class="page-header">
  <h2>
    <%=t '.title', :default => model_class.model_name.human.titleize %>:
    <%= @scheme.name %>
    <p class="pull-right">
      <%= link_to t('.back', :default => t("helpers.links.back")),
              schemes_path, :class => 'btn btn-default'  %>

      <% if can? :update, Scheme %>
      <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_scheme_path(@scheme), :class => 'btn btn-default' %>
      <% end %>

      <% if can? :destroy, Scheme %>
      <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              scheme_path(@scheme),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
      <% end %>
    </p>
  </h2>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
  <dd><%= @scheme.name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:version) %>:</strong></dt>
  <dd><%= @scheme.version %></dd>
  <dt><strong><%= model_class.human_attribute_name(:description) %>:</strong></dt>
  <dd><%= @scheme.description %></dd>
  <dt><strong><%= model_class.human_attribute_name(:status) %>:</strong></dt>
  <dd><%= @scheme.status %></dd>
  <dt><strong><%= model_class.human_attribute_name(:attach_id) %>:</strong></dt>
  <dd>
    <%= render partial: "show_attach", object: @scheme, as: :scheme %>
  </dd>
</dl>

<%= render partial: "upload", object: @scheme, as: :scheme %>
