<%= form_for @upgrade, :html => { :class => "form-horizontal upgrade" } do |f| %>

  <% if @upgrade.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@upgrade.errors.count, "error") %> prohibited this upgrade from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @upgrade.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :name, :class => 'form-control' %>
    </div>
    <%= error_span(@upgrade[:name]) %>
  </div>
  <div class="control-group">
    <%= f.label :firmware_version, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :firmware_version, :class => 'form-control' %>
    </div>
    <%= error_span(@upgrade[:firmware_version]) %>
  </div>
  <div class="control-group">
    <%= f.label :scheme_version, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :scheme_version, :class => 'form-control' %>
    </div>
    <%= error_span(@upgrade[:scheme_version]) %>
  </div>
  <div class="control-group">
    <%= f.label :description, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :description, :class => 'form-control' %>
    </div>
    <%= error_span(@upgrade[:description]) %>
  </div>
  <div class="control-group">
    <div class="controls">
      <%= f.hidden_field :status, :value => '1', :class => 'form-control' %>
    </div>
    <%= error_span(@upgrade[:status]) %>
  </div>

  <%= render partial: "shared/modal_top", object: @upgrade, as: :table %>
  <div class="control-group">
    <%= f.label :attach_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.file_field :upload_file %>
    </div>
    <%= error_span(@upgrade[:attach_id]) %>
  </div>
  <%= render "shared/modal_footer" %>

  <br>

  <div class="control-group">
    <div class="controls">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <span class="btn btn-success" data-toggle="modal" data-target="#upload_modal_<%= @upgrade[:id] %>">Select</span>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            upgrades_path, :class => 'btn btn-default' %>
    </div>
  </div>

<% end %>
