<% if upgrade.attach_id %>
  <%= upgrade.attach.file_name %>
<% else %>
  <% if can? :update, Upgrade %>
  <span class="btn btn-success btn-xs" data-toggle="modal" data-target="#upload_modal_<%= upgrade.id %>">Upload</span>
  <% end %>
<% end %>
