<%= render partial: "shared/modal_top", object: upgrade, as: :table %>
<%= form_for(upgrade, remote: true) do |f| %>
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <%= f.file_field :upload_file %>
  <br>
  <%= f.submit 'Upload', :class => 'btn btn-success' %>
  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
<% end %>
<%= render "shared/modal_no_footer" %>
