<%- model_class = Upgrade -%>
<div class="page-header">
  <h2>
    <%=t '.title', :default => model_class.model_name.human %>
    <p class="pull-right">
      <% if can? :create, Upgrade %>
      <%= link_to t('.new', :default => t("helpers.links.new")),
            new_upgrade_path,
            :class => 'btn btn-primary' %>
      <% end %>
    </p>
  </h2>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th class="col-sm-2"><%= model_class.human_attribute_name(:name) %></th>
      <th class="col-sm-2"><%= model_class.human_attribute_name(:attach_id) %></th>
      <th class="col-sm-2"><%= model_class.human_attribute_name(:description) %></th>
      <th class="col-sm-1"><%= model_class.human_attribute_name(:firmware_version) %></th>
      <th class="col-sm-1"><%= model_class.human_attribute_name(:scheme_version) %></th>
      <th class="col-sm-2"><%= model_class.human_attribute_name(:created_at) %></th>
      <th class="col-sm-1"><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @upgrades.each do |upgrade| %>
      <tr>
        <td><%= link_to upgrade.name, upgrade_path(upgrade) %></td>
        <td>
          <%= render partial: "show_attach", object: upgrade, as: :upgrade %>
        </td>
        <td><%= upgrade.description %></td>
        <td><%= upgrade.firmware_version %></td>
        <td><%= upgrade.scheme_version %></td>
        <td><%= upgrade.created_at.strftime("%Y-%m-%d %H:%M:%S") %></td>
        <td>
          <%= render partial: "action", object: upgrade, as: :upgrade %>
          <%= render partial: "upload", object: upgrade, as: :upgrade %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= render partial: "shared/pagination", object: @upgrades, as: :paginations %>
