<%- model_class = Host -%>
<div class="page-header">
  <h2>
    <%=t '.title', :default => model_class.model_name.human %>
    <p class="pull-right">
      <% if can? :create, Host %>
      <%= link_to t('.new', :default => t("helpers.links.new")),
            new_host_path,
            :class => 'btn btn-primary' %>
      <% end %>
    </p>
  </h2>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:ip) %></th>
      <th><%= model_class.human_attribute_name(:dbname) %></th>
      <th><%= model_class.human_attribute_name(:username) %></th>
      <th><%= model_class.human_attribute_name(:password) %></th>
      <th><%= model_class.human_attribute_name(:port) %></th>
      <th><%= model_class.human_attribute_name(:address) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @hosts.each do |host| %>
      <tr>
        <td><%= link_to host.name, host_path(host) %></td>
        <td><%= host.ip %></td>
        <td><%= host.dbname %></td>
        <td><%= host.username %></td>
        <td><%= host.password %></td>
        <td><%= host.port %></td>
        <td><%= host.address %></td>
        <td><%= host.created_at.strftime("%Y-%m-%d %H:%M:%S") %></td>
        <td>
          <% if can? :update, Host %>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_host_path(host), :class => 'btn btn-default btn-xs' %>
          <% end %>

          <% if can? :destroy, Host %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      host_path(host),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= render partial: "shared/pagination", object: @hosts, as: :paginations %>
