<%- model_class = Host -%>
<div class="page-header">
  <h2>
    <%=t '.title', :default => model_class.model_name.human.titleize %>:
    <%= @host.name %>
    <p class="pull-right">
      <%= link_to t('.back', :default => t("helpers.links.back")),
              hosts_path, :class => 'btn btn-default'  %>
      
      <% if can? :update, Host %>
      <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_host_path(@host), :class => 'btn btn-default' %>
      <% end %>
      
      <% if can? :destroy, Host %>
      <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              host_path(@host),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
      <% end %>
    </p>
  </h2>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
  <dd><%= @host.name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:ip) %>:</strong></dt>
  <dd><%= @host.ip %></dd>
  <dt><strong><%= model_class.human_attribute_name(:dbname) %>:</strong></dt>
  <dd><%= @host.dbname %></dd>
  <dt><strong><%= model_class.human_attribute_name(:username) %>:</strong></dt>
  <dd><%= @host.username %></dd>
  <dt><strong><%= model_class.human_attribute_name(:password) %>:</strong></dt>
  <dd><%= @host.password %></dd>
  <dt><strong><%= model_class.human_attribute_name(:port) %>:</strong></dt>
  <dd><%= @host.port %></dd>
  <dt><strong><%= model_class.human_attribute_name(:address) %>:</strong></dt>
  <dd><%= @host.address %></dd>
  <dt><strong><%= model_class.human_attribute_name(:status) %>:</strong></dt>
  <dd><%= @host.status %></dd>
</dl>

