<div class="dropdown">
  <div type="button" class="dropdown-toggle" id="dropdownMene1" data-toggle="dropdown">
    <span>Check</span>
    <span class="caret"></span>
  </div>
  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
    <% if can? :update, User %>
    <li role="presentation" data-toggle="modal" data-target="#modal_role_<%= user.id %>">
      <%= link_to t('.add_role', :default => t("helpers.links.add_role")),
        '#', :class => 'btn-default btn-xs' %>
    </li>
    <li role="presentation" class="divider"></li>
    <% end %>

    <% if can? :read, License %>
    <li role="presentation">
      <%= link_to t('.show', :default => t("helpers.links.show")),
        user_path(user), :class => 'btn-default btn-xs' %>
    </li>
    <% end %>

    <% if can? :update, User %>
    <li role="presentation">
      <%= link_to t('.edit', :default => t("helpers.links.edit")),
        edit_user_path(user), :class => 'btn-default btn-xs' %>
    </li>
    <% end %>

    <% if can? :destroy, User %>
    <li role="presentation">
      <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
        user_path(user),
        :method => :delete,
        :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
        :class => 'btn-xs btn-default' %>
    </li>
    <% end %>
  </ul>
</div>
