<%= form_tag({controller: "users", action: "add_role"}, method: "post") do %>
  
  <%= hidden_field_tag :uid, user.id %>

  <div class="control-group">
    <%= label_tag :rid %>
    <div class="controls">
      <select class="form-control input-sm" name="rid" id="rid">
        <option value="0">Select</option>
        <% @roles.each do |val| %>
        <option value="<%= val.id %>" <% if user.users_role && val.id == user.users_role.role_id %>selected="selected"<% end %>><%= val.name %></option>
        <% end %>
      </select>
    </div>
  </div>

  <br>

  <%= submit_tag "Assoc Role", :class => 'btn btn-primary' %>
  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
<% end %>
