<div class="modal fade" id="modal_role_<%= user.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
<div class="modal-dialog">
<div class="modal-content">
<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
  <h4 class="modal-title" id="myModalLabel">Assoc Role</h4>
</div>
<div class="modal-body">

<%= render partial: "form_role", object: user, as: :user %>

</div>
</div>
</div>
</div>

