<%- model_class = User -%>
<div class="page-header">
  <h2>
    <%=t '.title', :default => model_class.model_name.human %>
    <p class="pull-right">
      <!--
      <% if can? :create, User %>
      <% end %>
      -->
    </p>
  </h2>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:email) %></th>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:username) %></th>
      <th><%= model_class.human_attribute_name(:role) %></th>
      <th><%= model_class.human_attribute_name(:last_sign_in_at) %></th>
      <th><%= model_class.human_attribute_name(:last_sign_in_ip) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= link_to user.email, user_path(user) %></td>
        <td><%= user.name %></td>
        <td><%= user.username %></td>
        <td><%= user.users_role.role.name if user.users_role && user.users_role.role %></td>
        <td><%= user.last_sign_in_at.strftime("%Y-%m-%d %H:%M:%S") if user.last_sign_in_at %></td>
        <td><%= user.last_sign_in_ip %></td>
        <td><%= user.created_at.strftime("%Y-%m-%d %H:%M:%S") if user.created_at %></td>
        <td>
          <%= render partial: "action", object: user, as: :user %>
          <%= render partial: "modal_add_role", object: user, as: :user %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= render partial: "shared/pagination", object: @users, as: :paginations %>
