<div class="paginations">
  <div style="line-height:30px;">共找到&nbsp;<%= paginations.total_entries %>&nbsp;条记录,&nbsp; 共&nbsp;<%= paginations.total_pages %>&nbsp;页</div>
  <%= will_paginate paginations, :class => 'pagination', :container => false, :previous_label => '上一页', :next_label=> '下一页' %>
</div>
