<%= form_for @syslog, :html => { :class => "form-horizontal syslog" } do |f| %>

    <% if @syslog.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@syslog.errors.count, "error") %> prohibited this syslog from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @syslog.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :title, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :title, :class => 'form-control' %>
    </div>
    <%= error_span(@syslog[:title]) %>
  </div>
  <div class="control-group">
    <%= f.label :description, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :description, :class => 'form-control' %>
    </div>
    <%= error_span(@syslog[:description]) %>
  </div>
  <div class="control-group">
    <%= f.label :ip, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :ip, :class => 'form-control' %>
    </div>
    <%= error_span(@syslog[:ip]) %>
  </div>
  <div class="control-group">
    <%= f.label :operater_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :operater_id, :class => 'form-control' %>
    </div>
    <%= error_span(@syslog[:operater_id]) %>
  </div>


  <%= f.submit nil, :class => 'btn btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            syslogs_path, :class => 'btn btn-default' %>

<% end %>
