<%- model_class = Syslog -%>
<div class="page-header">
  <h2>
    <%=t '.title', :default => model_class.model_name.human.titleize %>:
    <%= @syslog.title %>
    <p class="pull-right">
    <%= link_to t('.back', :default => t("helpers.links.back")),
              syslogs_path, :class => 'btn btn-default'  %>
    </p>
  </h2>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:title) %>:</strong></dt>
  <dd><%= @syslog.title %></dd>
  <dt><strong><%= model_class.human_attribute_name(:description) %>:</strong></dt>
  <dd><%= @syslog.description %></dd>
  <dt><strong><%= model_class.human_attribute_name(:operater_id) %>:</strong></dt>
  <dd><%= @syslog.operater.name if @syslog.operater %></dd>
</dl>

