<%= render partial: "shared/modal_top", object: product_history, as: :table %>
<%= render partial: "status_true", object: product_history, as: :product_history %>
<%= render partial: "status_false", object: product_history, as: :product_history %>
<%= render "shared/modal_no_footer" %>
