<%= form_for @product_history, :html => { :class => "form-horizontal product_history" } do |f| %>

  <% if @product_history.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@product_history.errors.count, "error") %> prohibited this product_history from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @product_history.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :description, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :description, :class => 'form-control' %>
    </div>
    <%= error_span(@product_history[:description]) %>
  </div>
  <div class="control-group">
    <%= f.label :status, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :status, :class => 'form-control' %>
    </div>
    <%= error_span(@product_history[:status]) %>
  </div>
  <div class="control-group">
    <%= f.label :operater_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :operater_id, :class => 'form-control' %>
    </div>
    <%= error_span(@product_history[:operater_id]) %>
  </div>
  <div class="control-group">
    <%= f.label :examiner_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :examiner_id, :class => 'form-control' %>
    </div>
    <%= error_span(@product_history[:examiner_id]) %>
  </div>
  <div class="control-group">
    <%= f.label :product_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :product_id, :class => 'form-control' %>
    </div>
    <%= error_span(@product_history[:product_id]) %>
  </div>
  <div class="control-group">
    <%= f.label :firmware_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :firmware_id, :class => 'form-control' %>
    </div>
    <%= error_span(@product_history[:firmware_id]) %>
  </div>
  <div class="control-group">
    <%= f.label :scheme_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :scheme_id, :class => 'form-control' %>
    </div>
    <%= error_span(@product_history[:scheme_id]) %>
  </div>
  <div class="control-group">
    <%= f.label :upgrade_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :upgrade_id, :class => 'form-control' %>
    </div>
    <%= error_span(@product_history[:upgrade_id]) %>
  </div>
  <div class="control-group">
    <%= f.label :tool_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :tool_id, :class => 'form-control' %>
    </div>
    <%= error_span(@product_history[:tool_id]) %>
  </div>


  <%= f.submit nil, :class => 'btn btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            product_histories_path, :class => 'btn btn-default' %>

<% end %>
