<%- model_class = ProductHistory -%>
<div class="page-header">
  <h2><%=t '.title', :default => model_class.model_name.human %></h2>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:product_id) %></th>
      <th><%= model_class.human_attribute_name(:firmware_id) %></th>
      <th><%= model_class.human_attribute_name(:scheme_id) %></th>
      <th><%= model_class.human_attribute_name(:operater_id) %></th>
      <th><%= model_class.human_attribute_name(:examiner_id) %></th>
      <th><%= model_class.human_attribute_name(:status) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @product_histories.each do |product_history| %>
      <tr>
        <td><%= link_to(product_history.product.model, product_history_path(product_history)) if product_history.product %></td>
        <td><%= product_history.firmware.name if product_history.firmware %></td>
        <td><%= product_history.scheme.name if product_history.scheme %></td>
        <td><%= product_history.operater.name if product_history.operater %></td>
        <td><%= product_history.examiner.name if product_history.examiner %></td>
        <td><%= ProductHistory::STATUS_TYPE.invert[product_history.status] %></td>
        <td><%= product_history.created_at.strftime("%Y-%m-%d %H:%M:%S") %></td>
        <td>
          <%= render partial: "action", object: product_history, as: :product_history %>
          <%= render partial: "examine", object: product_history, as: :product_history %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= render partial: "shared/pagination", object: @product_histories, as: :paginations %>
