<%- model_class = ProductHistory -%>
<div class="page-header">
  <h2>
    <%=t '.title', :default => model_class.model_name.human.titleize %>:
    <%= @product_history.product.model if @product_history.product %>
    <p class="pull-right">
      <%= link_to t('.back', :default => t("helpers.links.back")),
              product_histories_path, :class => 'btn btn-default'  %>
    </p>
  </h2>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:product_id) %>:</strong></dt>
  <dd><%= @product_history.product.model if @product_history.product %></dd>
  <dt><strong><%= model_class.human_attribute_name(:firmware_id) %>:</strong></dt>
  <dd><%= @product_history.firmware.name if @product_history.firmware %></dd>
  <dt><strong><%= model_class.human_attribute_name(:scheme_id) %>:</strong></dt>
  <dd><%= @product_history.scheme.name if @product_history.scheme %></dd>
  <dt><strong><%= model_class.human_attribute_name(:description) %>:</strong></dt>
  <dd><%= @product_history.description %></dd>
  <dt><strong><%= model_class.human_attribute_name(:operater_id) %>:</strong></dt>
  <dd><%= @product_history.operater.name if @product_history.operater %></dd>
  <dt><strong><%= model_class.human_attribute_name(:created_at) %>:</strong></dt>
  <dd><%= @product_history.created_at.strftime("%Y-%m-%d %H:%M:%S") %></dd>
  <dt><strong><%= model_class.human_attribute_name(:status) %>:</strong></dt>
  <dd><%= ProductHistory::STATUS_TYPE.invert[@product_history.status] %></dd>
  <dt><strong><%= model_class.human_attribute_name(:examiner_id) %>:</strong></dt>
  <dd><%= @product_history.examiner.name if @product_history.examiner %></dd>
  <dt><strong><%= model_class.human_attribute_name(:updated_at) %>:</strong></dt>
  <dd><%= @product_history.updated_at.strftime("%Y-%m-%d %H:%M:%S") %></dd>
</dl>

