<%= form_for @role, :html => { :class => "form-horizontal role" } do |f| %>

  <% if @role.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@role.errors.count, "error") %> prohibited this role from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @role.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :name, :class => 'form-control' %>
    </div>
    <%= error_span(@role[:name]) %>
  </div>

  <br>

  <%= f.submit nil, :class => 'btn btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            roles_path, :class => 'btn btn-default' %>

<% end %>
