<%- model_class = Role -%>
<div class="page-header">
  <h2>
    <%=t '.title', :default => model_class.model_name.human.titleize %>:
    <%= @role.name %>
    <p class="pull-right">
      <%= link_to t('.back', :default => t("helpers.links.back")),
              roles_path, :class => 'btn btn-default'  %>
      <% if can? :update, Role %>
      <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_role_path(@role), :class => 'btn btn-default' %>
      <% end %>
      <% if can? :destroy, Role %>
      <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              role_path(@role),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
      <% end %>
    </p>
  </h2>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
  <dd><%= @role.name %></dd>
</dl>

