<%= form_for @protocol, :html => { :class => "form-horizontal protocol" } do |f| %>

  <% if @protocol.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@protocol.errors.count, "error") %> prohibited this protocol from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @protocol.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :name, :class => 'form-control' %>
    </div>
    <%= error_span(@protocol[:name]) %>
  </div>
  <div class="control-group">
    <%= f.label :description, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :description, :class => 'form-control' %>
    </div>
    <%= error_span(@protocol[:description]) %>
  </div>
  <div class="control-group">
    <div class="controls">
      <%= f.hidden_field :status, :value => "1", :class => 'form-control' %>
    </div>
    <%= error_span(@protocol[:status]) %>
  </div>

  <br>

  <%= f.submit nil, :class => 'btn btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            protocols_path, :class => 'btn btn-default' %>

<% end %>
