<%- model_class = Protocol -%>
<div class="page-header">
  <h2>
    <%=t '.title', :default => model_class.model_name.human %>
    <p class="pull-right">
      <% if can? :create, Protocol %>
      <%= link_to t('.new', :default => t("helpers.links.new")),
            new_protocol_path,
            :class => 'btn btn-primary' %>
      <% end %>
    </p>
  </h2>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th class="col-sm-3"><%= model_class.human_attribute_name(:name) %></th>
      <th class="col-sm-3"><%= model_class.human_attribute_name(:description) %></th>
      <th class="col-sm-3"><%= model_class.human_attribute_name(:created_at) %></th>
      <th class="col-sm-3"><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @protocols.each do |protocol| %>
      <tr>
        <td><%= link_to protocol.name, protocol_path(protocol) %></td>
        <td><%= protocol.description %></td>
        <td><%= protocol.created_at.strftime("%Y-%m-%d %H:%M:%S") %></td>
        <td>
          <%= render partial: "action", object: protocol, as: :protocol %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= render partial: "shared/pagination", object: @protocols, as: :paginations %>
