<%= form_for @license_history, :html => { :class => "form-horizontal license_history" } do |f| %>

    <% if @license_history.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@license_history.errors.count, "error") %> prohibited this license_history from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @license_history.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :description, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :description, :class => 'form-control' %>
    </div>
    <%= error_span(@license_history[:description]) %>
  </div>
  <div class="control-group">
    <%= f.label :license_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :license_id, :class => 'form-control' %>
    </div>
    <%= error_span(@license_history[:license_id]) %>
  </div>
  <div class="control-group">
    <%= f.label :operater_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :operater_id, :class => 'form-control' %>
    </div>
    <%= error_span(@license_history[:operater_id]) %>
  </div>
  <div class="control-group">
    <%= f.label :product_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :product_id, :class => 'form-control' %>
    </div>
    <%= error_span(@license_history[:product_id]) %>
  </div>
  <div class="control-group">
    <%= f.label :firmware_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :firmware_id, :class => 'form-control' %>
    </div>
    <%= error_span(@license_history[:firmware_id]) %>
  </div>
  <div class="control-group">
    <%= f.label :scheme_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :scheme_id, :class => 'form-control' %>
    </div>
    <%= error_span(@license_history[:scheme_id]) %>
  </div>


  <%= f.submit nil, :class => 'btn btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            license_histories_path, :class => 'btn btn-default' %>

<% end %>
