<%- model_class = LicenseHistory -%>
<div class="page-header">
  <h2><%=t '.title', :default => model_class.model_name.human %></h2>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:license_id) %></th>
      <th><%= model_class.human_attribute_name(:operater_id) %></th>
      <th><%= model_class.human_attribute_name(:product_id) %></th>
      <th><%= model_class.human_attribute_name(:firmware_id) %></th>
      <th><%= model_class.human_attribute_name(:scheme_id) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
    </tr>
  </thead>
  <tbody>
    <% @license_histories.each do |license_history| %>
      <tr>
        <td><%= link_to license_history.license.snid, license_history_path(license_history) if license_history.license %></td>
        <td><%= license_history.operater.name if license_history.operater %></td>
        <td><%= license_history.product.model if license_history.product %></td>
        <td><%= license_history.firmware.name if license_history.firmware %></td>
        <td><%= license_history.scheme.name if license_history.scheme %></td>
        <td><%= license_history.created_at.strftime("%Y-%m-%d %H:%M:%S") %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= render partial: "shared/pagination", object: @license_histories, as: :paginations %>
