<%- model_class = Category -%>
<div class="page-header">
  <h2>
    <%=t '.title', :default => model_class.model_name.human %>
    <p class="pull-right">
      <% if can? :create, Category %>
      <%= link_to t('.new', :default => t("helpers.links.new")),
            new_category_path,
            :class => 'btn btn-primary' %>
      <% end %>
    </p>
  </h2>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th class="col-sm-3"><%= model_class.human_attribute_name(:name) %></th>
      <th class="col-sm-3"><%= model_class.human_attribute_name(:description) %></th>
      <th class="col-sm-3"><%= model_class.human_attribute_name(:category_id) %></th>
      <th class="col-sm-2"><%= model_class.human_attribute_name(:created_at) %></th>
      <th class="col-sm-1"><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @categories.each do |category| %>
      <tr>
        <td><%= link_to category.name, category_path(category) %></td>
        <td><%= category.description %></td>
        <td><%= category.category.name if category.category %></td>
        <td><%= category.created_at.strftime("%Y-%m-%d %H:%M:%S") %></td>
        <td>
          <%= render partial: "action", object: category, as: :category %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= render partial: "shared/pagination", object: @categories, as: :paginations %>
