<%= render partial: "shared/modal_top", object: product, as: :table %>
<%= form_for(product) do |f| %>
  <div class="control-group">
    <%= f.label :firmware_id, :class => 'control-label' %>
    <div class="controls">
      <select class="form-control input-sm" name="product[firmware_id]" id="product_firmware_id">
        <option>Select</option>
        <% @firmwares.each do |val| %>
        <option value="<%= val.id %>" <% if val.id == product[:firmware_id] %>selected="selected"<% end %>><%= val.name %></option>
        <% end %>
      </select>
    </div>
    <%= error_span(product[:firmware_id]) %>
  </div>

  <div class="control-group">
    <%= f.label :scheme_id, :class => 'control-label' %>
    <div class="controls">
      <select class="form-control input-sm" name="product[scheme_id]" id="product_scheme_id">
        <option>Select</option>
        <% @schemes.each do |val| %>
        <option value="<%= val.id %>" <% if val.id == product[:scheme_id] %>selected="selected"<% end %>><%= val.name %></option>
        <% end %>
      </select>
    </div>
    <%= error_span(product[:scheme_id]) %>
  </div>

  <br>

  <%= f.submit 'Assoc', :class => 'btn btn-success' %>
  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
<% end %>
<%= render "shared/modal_no_footer" %>
  
