<%- model_class = Product -%>
<div class="page-header">
  <h2>
    <%=t '.title', :default => model_class.model_name.human %>
    <p class="pull-right">
      <% if can? :create, Product %>
      <%= link_to t('.new', :default => t("helpers.links.new")),
            new_product_path,
            :class => 'btn btn-primary' %>
      <% end %>
    </p>
  </h2>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:model) %></th>
      <th><%= model_class.human_attribute_name(:place) %></th>
      <th><%= model_class.human_attribute_name(:param) %></th>
      <th><%= model_class.human_attribute_name(:custom) %></th>
      <th><%= model_class.human_attribute_name(:category_id) %></th>
      <th><%= model_class.human_attribute_name(:protocol_id) %></th>
      <th><%= model_class.human_attribute_name(:solution_id) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= link_to product.name, product_path(product) %></td>
        <td><%= product.model %></td>
        <td><%= product.place %></td>
        <td><%= product.param %></td>
        <td><%= Product::CUSTOM_TYPE.invert[product.custom] %></td>
        <td><%= product.category.name if product.category %></td>
        <td><%= product.protocol.name if product.protocol %></td>
        <td><%= product.solution.name if product.solution %></td>
        <td><%= product.created_at.strftime("%Y-%m-%d %H:%M:%S") %></td>
        <td>
          <%= render partial: "action", object: product, as: :product %>
          <%= render partial: "assoc", object: product, as: :product %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= render partial: "shared/pagination", object: @products, as: :paginations %>
