<%- model_class = Firmware -%>
<div class="page-header">
  <h2>
    <%=t '.title', :default => model_class.model_name.human %>
    <p class="pull-right">
      <% if can? :create, Firmware %>
      <%= link_to t('.new', :default => t("helpers.links.new")),
            new_firmware_path,
            :class => 'btn btn-primary' %>
      <% end %>
    </p>
  </h2>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th class="col-sm-3"><%= model_class.human_attribute_name(:name) %></th>
      <th class="col-sm-3"><%= model_class.human_attribute_name(:attach_id) %></th>
      <th class="col-sm-2"><%= model_class.human_attribute_name(:description) %></th>
      <th class="col-sm-1"><%= model_class.human_attribute_name(:version) %></th>
      <th class="col-sm-2"><%= model_class.human_attribute_name(:created_at) %></th>
      <th class="col-sm-1"><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @firmwares.each do |firmware| %>
      <tr>
        <td><%= link_to firmware.name, firmware_path(firmware) %></td>
        <td>
          <%= render partial: "show_attach", object: firmware, as: :firmware %>
        </td>
        <td><%= firmware.description %></td>
        <td><%= firmware.version %></td>
        <td><%= firmware.created_at.strftime("%Y-%m-%d %H:%M:%S") %></td>
        <td>
          <%= render partial: "action", object: firmware, as: :firmware %>
          <%= render partial: "upload", object: firmware, as: :firmware %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= render partial: "shared/pagination", object: @firmwares, as: :paginations %>
