<%- model_class = Firmware -%>
<div class="page-header">
  <h2>
    <%= t '.title', :default => model_class.model_name.human.titleize %>:
    <%= @firmware.name %>
    <p class="pull-right">
      <%= link_to t('.back', :default => t("helpers.links.back")),
              :back, :class => 'btn btn-default'  %>
      <% if can? :update, Firmware %>
      <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_firmware_path(@firmware), :class => 'btn btn-default' %>
      <% end %>

      <% if can? :destroy, Firmware %>
      <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              firmware_path(@firmware),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
      <% end %>
    </p>
  </h2>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
  <dd><%= @firmware.name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:version) %>:</strong></dt>
  <dd><%= @firmware.version %></dd>
  <dt><strong><%= model_class.human_attribute_name(:description) %>:</strong></dt>
  <dd><%= @firmware.description %></dd>
  <dt><strong><%= model_class.human_attribute_name(:status) %>:</strong></dt>
  <dd><%= @firmware.status %></dd>
  <dt><strong><%= model_class.human_attribute_name(:attach_id) %>:</strong></dt>
  <dd>
    <%= render partial: "show_attach", object: @firmware, as: :firmware %>
  </dd>
</dl>

<%= render partial: "upload", object: @firmware, as: :firmware %>
