<div class="dropdown">
  <div type="button" class="dropdown-toggle" id="dropdownMene1" data-toggle="dropdown">
    <span>Check</span>
    <span class="caret"></span>
  </div>
  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
    <% if can? :read, Solution  %>
    <li role="presentation">
      <%= link_to t('.show', :default => t("helpers.links.show")),
        solution_path(solution), :class => 'btn-default btn-xs' %>
    </li>
    <% end %>

    <% if can? :update, Solution  %>
    <li role="presentation">
      <%= link_to t('.edit', :default => t("helpers.links.edit")),
        edit_solution_path(solution), :class => 'btn-default btn-xs' %>
    </li>
    <% end %>

    <% if can? :destroy, Solution  %>
    <li role="presentation">
      <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
        solution_path(solution),
        :method => :delete,
        :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
        :class => 'btn-xs btn-default' %>
    </li>
    <% end %>
  </ul>
</div>
