<%- model_class = Solution -%>
<div class="page-header">
  <h2>
    <%=t '.title', :default => model_class.model_name.human %>
    <p class="pull-right">
      <% if can? :create, Solution  %>
      <%= link_to t('.new', :default => t("helpers.links.new")),
            new_solution_path,
            :class => 'btn btn-primary' %>
      <% end %>
    </p>
  </h2>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th class="col-sm-3"><%= model_class.human_attribute_name(:name) %></th>
      <th class="col-sm-3"><%= model_class.human_attribute_name(:description) %></th>
      <th class="col-sm-3"><%= model_class.human_attribute_name(:created_at) %></th>
      <th class="col-sm-3"><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @solutions.each do |solution| %>
      <tr>
        <td><%= link_to solution.name, solution_path(solution) %></td>
        <td><%= solution.description %></td>
        <td><%= solution.created_at.strftime("%Y-%m-%d %H:%M:%S") %></td>
        <td>
          <%= render partial: "action", object: solution, as: :solution %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= render partial: "shared/pagination", object: @solutions, as: :paginations %>
