<!-- start header -->
<header class="main-header"  style="background-image: url(http://image.golaravel.com/5/c9/44e1c4e50d55159c65da6a41bc07e.jpg)"">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">

        <h1><span class="hide">Laravel - </span>固件管理系统 V0.1 </h1>
        <h2 class="hide">PHP THAT DOESN'T HURT. CODE HAPPY &amp; ENJOY THE FRESH AIR.</h2>

        <img src="http://image.golaravel.com/e/b0/4e4bd788405aab87f03d26edc4ab4.png" alt="Laravel" class="hide">
      </div>

      <div class="col-sm-12">
        <a href="http://www.golaravel.com/laravel/docs/5.1/" class="btn btn-default btn-doc" target="_blank">5.1 中文文档</a>
        <a href="http://www.golaravel.com/laravel/docs/5.0/" class="btn btn-default btn-doc" target="_blank">5.0 中文文档</a>
        <a href="http://www.golaravel.com/laravel/docs/4.2/" class="btn btn-default btn-doc" target="_blank">4.2 中文文档</a>
        <a href="http://www.golaravel.com/laravel/docs/4.1/" class="btn btn-default btn-doc" target="_blank">4.1 中文文档</a>
        <!--<a href="http://www.golaravel.com/laravel/docs/4.0/" class="btn btn-default btn-doc" target="_blank">4.0 中文文档</a>-->
        <a href="http://lumen.golaravel.com/docs/" class="btn btn-default btn-doc" target="_blank">Lumen 中文文档</a>
        <a href="http://wenda.golaravel.com" class="btn btn-default btn-doc" target="_blank">问答社区</a>
      </div>
    </div>
  </div>
</header>
<!-- end header -->

