<%= nav_bar fixed: :top, brand: "固件管理系统 V0.2", responsive: true do %>
  <%= menu_group do %>
    <%= menu_item "主页", root_path %>

    <% if can? :manage, User %>
    <%= drop_down "用户管理" do %>
      <%= menu_item "用户信息", users_path %>
      <%= drop_down_divider %>
      <%= menu_item "角色权限", roles_path %>
    <% end %>
    <% end %>

    <% if can? :read, Product or can? :read, Firmware or can? :read, Scheme or can? :read, Upgrade or can? :read, Tool or can? :read, Category or can? :read, Protocol or can? :read, Solution %>
    <%= drop_down "产品管理" do %>
      <% if can? :read, Product %>
      <%= menu_item "产品管理", products_path %>
      <%= drop_down_divider %>
      <% end %>
      <% if can? :read, Firmware %>
      <%= menu_item "固件管理", firmwares_path %>
      <% end %>
      <% if can? :read, Scheme %>
      <%= menu_item "配置管理", schemes_path %>
      <% end %>
      <% if can? :read, Tool %>
      <%= menu_item "工具管理", tools_path %>
      <% end %>
      <% if can? :read, Upgrade %>
      <%= menu_item "升级包", upgrades_path %>
      <%= drop_down_divider %>
      <% end %>
      <% if can? :read, Category %>
      <%= menu_item "产品系列", categories_path %>
      <% end %>
      <% if can? :read, Protocol %>
      <%= menu_item "通讯协议", protocols_path %>
      <% end %>
      <% if can? :read, Solution %>
      <%= menu_item "硬件方案", solutions_path %>
      <% end %>
    <% end %>
    <% end %>
 
    <% if can? :read, License or can? :read, LicenseCode %>
    <%= drop_down "激活码" do %>
      <% if can? :read, License %>
      <%= menu_item "激活码", licenses_path %>
      <%= drop_down_divider %>
      <% end %>
      <% if can? :read, LicenseCode %>
      <%= menu_item "生成代号", license_codes_path %>
      <% end %>
    <% end %>
    <% end %>
  
    <% if can? :read, ProductHistory or can? :read, BurnHistory or can? :read, LicenseHistory %>
    <%= drop_down "历史纪录" do %>
      <% if can? :read, ProductHistory %>
      <%= menu_item "关联纪录", product_histories_path %>
      <% end %>
      <% if can? :read, BurnHistory %>
      <%= menu_item "烧写纪录", burn_histories_path %>
      <% end %>
      <% if can? :read, LicenseHistory %>
      <%= menu_item "激活纪录", license_histories_path %>
      <% end %>
    <% end %>
    <% end %>
    
    <% if can? :read, Syslog or can? :read, Host or can? :read, Attach %>
    <%= drop_down "系统设置" do %>
      <% if can? :read, Syslog %>
      <%= menu_item "系统日志", syslogs_path %>
      <% end %>
      <% if can? :read, Host %>
      <%= menu_item "服务器", hosts_path %>
      <%= drop_down_divider %>
      <% end %>
      <% if can? :read, Attach %>
      <%= menu_item "附件管理", attaches_path %>
      <% end %>
    <% end %>
    <% end %>
   
    <%= menu_item "关于我们", about_index_path %>
  <% end %>

  <%= menu_group pull: :right do %>
    <% if current_user %>
      <%= menu_item current_user.name, edit_registration_path(:user) %>
      <%= menu_item '注销', destroy_user_session_path, :method => :delete %>
    <% else %>
      <%= menu_item '注册', new_registration_path(:user) %>
      <%= menu_item '登录', new_session_path(:user) %>
    <% end %>
  <% end %>
<% end %>
